/* media query, condição, se (isso acontece) algo ocorre */
@media(max-width: 980px){
    #Bem-vindo{
        display: block;
    }
}

@media(max-width: 823px){
    main #formulario #formulario-form{
        background-image: none;
    }
}
@media(max-width: 600px){
    main #beneficios #beneficios-servicos{
        display: block;
    }
}
/* ------------------------------------Login---------------------------------------------------------------------- */
@media(max-width: 600px){
    
}
