/* Root é configuração para cores */
:root {
    --cor-principal: #f4549e;
    --cor-topo: #D8F1FB;
    --cor-preta: black;
    --cor-branca: white;
    --cor-fundo: #FAFBFF;





}

/* asterisco signifca que a programação deve pegar todo o site, header, main, footer etc! */
* {
    padding: 0px;
    margin: 0px;
    transition: all 0.4s;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

#header {
    background-color: var(--cor-topo);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* text decoration none tira o sublinhado horrivel que fica em link para redirecionamento, feio pra krl! */
#header nav a {
    text-decoration: none;
    color: var(--cor-preta);
}

#header nav a:hover {
    color: white;
    background-color: var(--cor-principal);
    border-radius: 30px;

}

/* ponto abre class e hashtag abre id */
.MarginLateral {
    margin: 0px 20px;
}

main #Banner {
    background-image: url(../Img/Banner.png);
    height: calc(100vh - 116px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.cuidados {
    padding: 20px;
}

main #Banner h1 {
    color: var(--cor-principal);
    font-size: 2em;
    /* EM é 16 pt mas se adapta conforme a tela do dispositivo!! */

}

main #Banner .Banner-button {
    color: white;
    background-color: var(--cor-principal);
    border: none;
    border-radius: 30px;
    cursor: pointer;


}

/* animação do botão */
main #Banner button:hover {
    cursor: pointer;
    font-size: large;
    padding: 25px;
}

/* todos os paddings de mesmo pixel podem ficar no mesmo bloco para facilitar */
#header,
#footer,
main #beneficios #beneficios-nossos-beneficios,
main #Banner .Banner-button,
#Bem-vindo div,
#header nav a:hover,
main #beneficios #beneficios-servicos, main #formulario #formulario-form form {
    padding: 15px;
}

/* display grid para dividir o espaço em 2 partes iguais para o texto */
#Bem-vindo {
    display: grid;
    grid-template-columns: 1fr 1fr;


}

#Bem-vindo #Bem-vindo-Boas-vindas h3 {
    color: var(--cor-principal);
    margin-bottom: 10px;
}

main #beneficios {
    background-color: var(--cor-fundo);
    color: var(--cor-principal);
}

main #beneficios #beneficios-nossos-beneficios,
main #formulario #formulario-avaliacao,
#footer {
    text-align: center;
}

/* dá pra fazer com grid ou com flex */
main #beneficios #beneficios-servicos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}
/* entrou na section, na div e depois no próprio formulário */
main #formulario #formulario-form form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* display block serve pra deixar tudo alinhado um em cima do outro */
main #formulario #formulario-form input{
    display: block;
    padding: 8px;
    border: none;
    /* outiline tira a bordinha do input */
    outline: none;
    /* border bottom serve pra por borda só em baixo */
    border-bottom:1px solid black;
    border-radius: 5px;
    width: 355px;
    margin-bottom: 10px;
}

main #formulario #formulario-form form button{
    padding: 8px;
    border: none;
    background-color: var(--cor-principal);
    color: white;
    border-radius: 10px;
    width: 355px;
    cursor: pointer;

}

main #formulario #formulario-form{
    background-image: url(../Img/dog.png); 
    background-repeat:no-repeat;
    background-size: contain;
}

#footer {
    background-color: var(--cor-topo);
}

/* ---------------------------------------------Aqui começa o Login-------------------------------------------------------------- */

#logindog h3{
    text-align: center;
    padding: 60px;
}
#header nav a{
    padding-right: 10px;
}
main #logindog #logindog-divform form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main #logindog #logindog-divform form input{
    display: block;
    padding: 8px;
    border: none;
    /* outiline tira a bordinha do input */
    outline: none;
    /* border bottom serve pra por borda só em baixo */
    border-bottom:1px solid black;
    border-radius: 5px;
    width: 500px;
    margin-bottom: 10px;

}

main #logindog #logindog-divform form button:hover{
    font-size: large;
    padding: 10px;
    margin: 10px;
}
#formbuttonlogar{
    padding: 8px;
    border: none;
    background-color: var(--cor-principal);
    color: white;
    border-radius: 10px;
    width: 500px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

